{% extends 'musica/base.html' %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="col-md-4">
    <h2 class="mb-4 text-center" style="color:#6C4F1F;">Iniciar sesión</h2>
    <form method="post" style="background-color: #FFF8E1; padding: 20px; border-radius: 5px;">
      {% csrf_token %}
      {{ form.username.label_tag }}<br>
      {{ form.username }}<br><br>
      {{ form.password.label_tag }}<br>
      {{ form.password }}<br><br>
      <button type="submit" class="btn w-100" style="background-color: #FFC107; color: #fff; border: none;">
        Entrar
      </button>
    </form>
    <p class="mt-3 text-center" style="color:#333;">
      ¿No tienes cuenta? <a href="{% url 'musica:registro' %}" style="color:#FFC107;">Regístrate aquí</a>
    </p>
  </div>
</div>
{% endblock %}
